.img {
    max-width: 300px;
    padding: 5px;
}

.caption {
    font-weight: bold;
    text-align: left;
    font-size: 12px;
    padding: 5px;
}

.bands {
    font-weight: bold;
    color: #ffffff;
}